################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DealShare/v14/.suo
bin/
obj/
packages/
.vs/